@model UserManagement.Web.Models.Users.UserListItemViewModel

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Forename @Model.Surname</h4>
        <p class="card-text">
            <strong>Email:</strong> @Model.Email <br />
            <strong>Date of Birth:</strong> @(String.IsNullOrEmpty(Model.DOB?.ToString()) ? "Not available" : Model.DOB?.ToString() )<br />
        </p>
    </div>
</div>